<header class="header">
    <div class="header--left_div">
        <span class="alegreya-sans-sc-medium" onclick="window.location = '/'" id="span_button">Наследие Беларуси</span>
    </div>
    <div class="header--right_div">
        <span class="roboto-regular" onclick="window.location = '/map'">Карта</span>
        <span class="roboto-regular" onclick="window.location = '/locations'">Локации</span>
        <span class="roboto-regular" onclick="window.location = '/about'">О проекте</span>
    </div>
</header>